*{margin: 0; padding: 0; box-sizing: border-box;}

.shape {
    position: absolute;
    background-color: blue;
    top: -19vw;
    left: 24.4vw;
    width: 2000px;
    height: 590px;
    transform: rotate(-31deg);
    z-index: -1;
    opacity: 0.04;
    background: rgb(52, 51, 72);
    border-radius: 400px;
  }

.inicio {color: rgb(52, 51, 72); font-size: 3rem;}

.container{margin: 0 auto;
    max-width: 1250px;} 

.hero_section{display: flex; margin-top: 6rem;}
.descarga{margin-top: 2rem;}
.header{display: flex; justify-content: space-between; align-items: center; margin-top: 2.2rem; color: rgb(97, 74, 217); font-weight: 600; position: relative;}
.header>ul{list-style: none; display: flex; justify-content: space-between; min-width: 40rem; align-items: center;}
.caract{display: flex; justify-content: space-between; gap: 2.5rem; margin-top: 4rem;}
.cuadrados{font-size: 1rem; font-weight: 400; color: rgb(106, 117, 135)}
.cuadrado{background-color: white;
    border-radius: 10px;
    box-shadow: rgb(97 74 217 / 20%) 0px 20px 30px 0px;
    padding: 1.5rem 2rem;}

body{font-family: 'Noto Sans', sans-serif;padding-bottom: 8rem;}
.celular{display: flex; justify-content: center; margin-top: 5rem; gap: 6rem}
.cuadradoscelu{display: grid; grid-template-columns: repeat(2,1fr); column-gap: 10rem; row-gap: 3rem; margin-top: 3rem;}
.titulocelular{margin-top: 0.7rem;color: rgb(52, 51, 72); font-weight: 900; font-size: 1.3rem;}
.texto{max-width: 15rem; margin-top: 0.8rem; color: rgb(106, 117, 135); font-size: 1rem;}


#primero{font-size: 1.5rem; font-weight: 500; color: rgb(106, 117, 135)}
#segundo{font-size: 4rem; line-height: 4.8rem ;color: rgb(52, 51, 72); font-weight: 900; margin-top: 0.2rem;}
#tercero{font-size: 1.5rem; font-weight: 400; color: rgb(106, 117, 135); margin-top: 3rem;}
#seguridad{font-size: 2rem; font-weight: 600; color: rgb(52, 51, 72)}
#seguimos{font-size: 1rem; font-weight: 400; color: rgb(106, 117, 135)}

#google{margin-left: 2rem;}
#robo{background-color: rgba(97, 74, 217, 0.1); padding: 1rem 1rem; border-radius: 7px; cursor: pointer; transition: all 0.25s ease-in 0s;}
#robo:hover{background-color: rgba(97, 74, 217); color:white}